.mat-form-field {
  padding-left: 10px;
  width: calc(100% - 10px);
}
.product-list {
  height: calc(100% - 56px);
  overflow: auto;
}

.mat-column-sku {
  flex: 0 0 120px;
}

.mat-column-cmd {
  flex: 0 0 120px;
}
