<form [formGroup]="filterForm">
  <mat-form-field>
    <input matInput placeholder="Filter" formControlName="filter" autocomplete="off" (blur)="onBlur()" (focus)="onFocus()" class="left">
  </mat-form-field>
  <mat-slide-toggle [checked]="textSearch" (change)="setTextSearch()">
    {{textSearch ? 'Buscar por texto' : 'Buscar exacto' }}
  </mat-slide-toggle>
</form>
<div class="product-list mat-elevation-z8">
  <mat-table #table [dataSource]="dataSource" matSort>
    <ng-container matColumnDef="sku">
      <mat-header-cell *matHeaderCellDef mat-sort-header i18n="@@product-SKU">SKU</mat-header-cell>
      <mat-cell *matCellDef="let product"> {{product.sku}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="description">
      <mat-header-cell *matHeaderCellDef mat-sort-header i18n="@@product-Description">Description</mat-header-cell>
      <mat-cell *matCellDef="let product"> {{product.description}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="stock">
      <mat-header-cell *matHeaderCellDef mat-sort-header i18n="@@product-Stock">Stock</mat-header-cell>
      <mat-cell *matCellDef="let product"> {{isStockable(product) ? stock(product) : ''}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="cmd">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let product">
        <button (click)="show(product)" mat-stroked-button>
          <mat-icon  class="posIcon-36">info</mat-icon>
        </button>
        <button (click)="select(product)" [disabled]="!selectable(product)" mat-stroked-button>
          <mat-icon class="posIcon-36" [class.mat-warn]="isStockable(product) && !hasStock(product)">check_circle_outline</mat-icon>
        </button>
      </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</div>
