form {
  display: flex;
  align-items: stretch;
  align-content: stretch;
  gap: 15px;
  flex-wrap: wrap;
  
  .mat-mdc-form-field {
    padding-left: 10px;
    flex-grow: 2; 
  }
  .mat-mdc-slide-toggle {
    flex-grow: 1; 
    margin-top: auto;
    margin-bottom: auto;
  }

}
.product-list {
  height: calc(100% - 58px);
  overflow: auto;
}

.mat-column-sku {
  flex: 0 0 110px;
}

.mat-column-cmd {
  flex: 0 0 145px;
}
/* TODO(mdc-migration): The following rule targets internal classes of tabs that may no longer apply for the MDC version. */
mat-table button {
  min-width: fit-content;
}
