<form [formGroup]="filterForm">
  <mat-form-field>
    <input matInput placeholder="Filter" formControlName="filter">
  </mat-form-field>
</form>
<div class="product-list mat-elevation-z8">
  <mat-table #table [dataSource]="dataSource" matSort>
    <ng-container matColumnDef="sku">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Codigo </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.sku}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="description">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Descripcion </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.description}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="cmd">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let element">
        <button (click)="show(element)">
          <mat-icon  class="posIcon-36">info</mat-icon>
        </button>
        <button (click)="select(element)" [disabled]="!hasStock(element)">
          <mat-icon class="posIcon-36" [class.mat-warn]="!hasStock(element)">check_circle_outline</mat-icon>
        </button>
      </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</div>
