.pos-ticket-container {
  width: 100%;

  .mat-column-quantity {
    width: 20px;
    padding-left: 5px;
    padding-right: 5px;
  }

  .mat-column-childQuantity {
    width: 20px;
    padding-left: 0px;
    padding-right: 5px;
  }

  .mat-column-productDesc {
    padding-left: 0px;
    padding-right: 5px;
  }

  .mat-column-unitPrice {
    text-align: right;
    padding-left: 0px;
    padding-right: 5px;
  }

  .mat-column-price {
    padding-left: 0px;
    text-align: right;
    padding-right: 5px;
  }

  .mat-column-discount {
    padding-left: 0px;
    text-align: right;
    padding-right: 5px;
  }

  .mat-column-modify {
    padding: 0;
    //width: 120px;
  }

  table .buttons {
    width: 101px;
    display: block;
    background: aliceblue;
  }
}

.details-row {
  height: 0;
  min-height: 0;

  mat-cell {
    height: 0;
  }
}

.details-partlist {
  height: unset;
  min-height: unset;

  mat-cell {
    height: unset;
  }
}

.relation-detail {
  flex-direction: column;
  align-items: flex-start;
}
.discount {
  color: var(--mat-badge-background-color);
}