<div class="wrapper">
  <div class="content">
    <div class="payment-form-wrapper">
      <form class="payment-form" [formGroup]="paymentForm">
        <mat-form-field>
          <input
            matInput
            placeholder="Monto"
            type="text"
            formControlName="amount"
            class="right-align" />
          <span matPrefix>{{ currency }}&nbsp;</span>
        </mat-form-field>
        <button type="button" mat-stroked-button (click)="setChange()">{{ "<<" }}</button>
      </form>
      <app-keypad (number)="setNumber($event)"></app-keypad>
    </div>
    <div>
      <mat-grid-list cols="2" rowHeight="55px">
        <mat-grid-tile>
          <button type="button" mat-stroked-button (click)="addNumber(0.5)">0.50</button>
        </mat-grid-tile>
        <mat-grid-tile>
          <button type="button" mat-stroked-button (click)="addNumber(1)">1</button>
        </mat-grid-tile>
        <mat-grid-tile>
          <button type="button" mat-stroked-button (click)="addNumber(2)">2</button>
        </mat-grid-tile>
        <mat-grid-tile>
          <button type="button" mat-stroked-button (click)="addNumber(5)">5</button>
        </mat-grid-tile>
        <mat-grid-tile>
          <button type="button" mat-stroked-button (click)="addNumber(10)">10</button>
        </mat-grid-tile>
        <mat-grid-tile>
          <button type="button" mat-stroked-button (click)="addNumber(20)">20</button>
        </mat-grid-tile>
        <mat-grid-tile>
          <button type="button" mat-stroked-button (click)="addNumber(50)">50</button>
        </mat-grid-tile>
        <mat-grid-tile>
          <button type="button" mat-stroked-button (click)="addNumber(100)">100</button>
        </mat-grid-tile>
      </mat-grid-list>
    </div>
  </div>
  <button
    type="submit"
    class="btn btn-success"
    mat-raised-button
    color="primary"
    (click)="addPayment()">
    Agregar Pago
  </button>
</div>
