.wrapper {
  height: 400px;
  .content {
    display: flex;

    .payment-form-wrapper {
      display: flex;
      flex-direction: column;
    }
}
}
.right-align {
  text-align: right;
}

mat-grid-list {
  width: 295px;
  transform: translateY(50%);
}

.payment-form {
  height: 65px;
  & mat-form-field {
    width: 160px;
    margin-right: 14px;
    margin-left: 5px;
  }
}

.mat-mdc-outlined-button {
  font-size: 22px;
  border-radius: 8px;
  max-width: 62px;
  padding: 0;
   

  .mat-icon {
    font-size: unset;
    height: unset;
    left: 6px;
  }
}