<mat-grid-list cols="3" rowHeight="50px" gutterSize="8px">
  <mat-grid-tile *ngIf="showTopClear">
  </mat-grid-tile>
  <mat-grid-tile *ngIf="showTopClear">
  </mat-grid-tile>
  <mat-grid-tile *ngIf="showTopClear">
    <button type="button" mat-raised-button (click)="clickBtn('clear')">
      <mat-icon class="posIcon-36">clear</mat-icon>
    </button>
  </mat-grid-tile>
  <mat-grid-tile>
    <button type="button" mat-raised-button (click)="clickBtn('1')">1</button>
  </mat-grid-tile>
  <mat-grid-tile>
    <button type="button" mat-raised-button (click)="clickBtn('2')">2</button>
  </mat-grid-tile>
  <mat-grid-tile>
    <button type="button" mat-raised-button (click)="clickBtn('3')">3</button>
  </mat-grid-tile>
  <mat-grid-tile>
    <button type="button" mat-raised-button (click)="clickBtn('4')">4</button>
  </mat-grid-tile>
  <mat-grid-tile>
    <button type="button" mat-raised-button (click)="clickBtn('5')">5</button>
  </mat-grid-tile>
  <mat-grid-tile>
    <button type="button" mat-raised-button (click)="clickBtn('6')">6</button>
  </mat-grid-tile>
  <mat-grid-tile>
    <button type="button" mat-raised-button (click)="clickBtn('7')">7</button>
  </mat-grid-tile>
  <mat-grid-tile>
    <button type="button" mat-raised-button (click)="clickBtn('8')">8</button>
  </mat-grid-tile>
  <mat-grid-tile>
    <button type="button" mat-raised-button (click)="clickBtn('9')">9</button>
  </mat-grid-tile>
  <mat-grid-tile >
    <button type="button" mat-raised-button (click)="clickBtn('clear')" *ngIf="showBottomClear">
      <mat-icon class="posIcon-36">clear</mat-icon>
    </button>
  </mat-grid-tile>
  <mat-grid-tile>
    <button type="button" mat-raised-button (click)="clickBtn('0')">0</button>
  </mat-grid-tile>
  <mat-grid-tile>
    <button type="button" mat-raised-button (click)="clickBtn('00')" *ngIf="showDoubleZero">00</button>
  </mat-grid-tile>
</mat-grid-list>
