<div class="btn-group">
  <button type="button" mat-raised-button></button>
  <button type="button" mat-raised-button></button>
  <button type="button" mat-raised-button (click)="clickBtn('clear')">*</button>
</div>
<div class="btn-group">
  <button type="button" mat-raised-button (click)="clickBtn('1')">1</button>
  <button type="button" mat-raised-button (click)="clickBtn('2')">2</button>
  <button type="button" mat-raised-button (click)="clickBtn('3')">3</button>
</div>
<div class="btn-group">
  <button type="button" mat-raised-button (click)="clickBtn('4')">4</button>
  <button type="button" mat-raised-button (click)="clickBtn('5')">5</button>
  <button type="button" mat-raised-button (click)="clickBtn('6')">6</button>
</div>
<div class="btn-group">
  <button type="button" mat-raised-button (click)="clickBtn('7')">7</button>
  <button type="button" mat-raised-button (click)="clickBtn('8')">8</button>
  <button type="button" mat-raised-button (click)="clickBtn('9')">9</button>
</div>
<div class="btn-group">
  <button type="button" mat-raised-button></button>
  <button type="button" mat-raised-button (click)="clickBtn('0')">0</button>
  <button type="button" mat-raised-button (click)="clickBtn('00')">00</button>
</div>
