<mat-grid-list cols="3" rowHeight="50px" gutterSize="8px">
  @if (showTopClear()) {
    <mat-grid-tile />
  }
  @if (showTopClear()) {
    <mat-grid-tile />
  }
  @if (showTopClear()) {
    <mat-grid-tile>
      <button type="button" mat-stroked-button (click)="clickBtn('clear')">
        <mat-icon class="posIcon-36">clear</mat-icon>
      </button>
    </mat-grid-tile>
  }
  <mat-grid-tile>
    <button type="button" mat-stroked-button (click)="clickBtn('1')">1</button>
  </mat-grid-tile>
  <mat-grid-tile>
    <button type="button" mat-stroked-button (click)="clickBtn('2')">2</button>
  </mat-grid-tile>
  <mat-grid-tile>
    <button type="button" mat-stroked-button (click)="clickBtn('3')">3</button>
  </mat-grid-tile>
  <mat-grid-tile>
    <button type="button" mat-stroked-button (click)="clickBtn('4')">4</button>
  </mat-grid-tile>
  <mat-grid-tile>
    <button type="button" mat-stroked-button (click)="clickBtn('5')">5</button>
  </mat-grid-tile>
  <mat-grid-tile>
    <button type="button" mat-stroked-button (click)="clickBtn('6')">6</button>
  </mat-grid-tile>
  <mat-grid-tile>
    <button type="button" mat-stroked-button (click)="clickBtn('7')">7</button>
  </mat-grid-tile>
  <mat-grid-tile>
    <button type="button" mat-stroked-button (click)="clickBtn('8')">8</button>
  </mat-grid-tile>
  <mat-grid-tile>
    <button type="button" mat-stroked-button (click)="clickBtn('9')">9</button>
  </mat-grid-tile>
  <mat-grid-tile >
    @if (showBottomClear()) {
      <button type="button" mat-stroked-button (click)="clickBtn('clear')">
        <mat-icon>clear</mat-icon>
      </button>
    }
  </mat-grid-tile>
  <mat-grid-tile>
    <button type="button" mat-stroked-button (click)="clickBtn('0')">0</button>
  </mat-grid-tile>
  <mat-grid-tile>
    @if (showDoubleZero()) {
      <button type="button" mat-stroked-button (click)="clickBtn('00')">00</button>
    }
  </mat-grid-tile>
</mat-grid-list>
