.content {
  display: flex;

  .payment-form-wrapper {
    display: flex;
    flex-direction: column;

    .keypad-warpper {
      display: flex;
      gap: 20px;
    }
  }
}


.right-align {
  text-align: right;
}

.payment-form {
  & mat-form-field {
    width: 120px;
    margin-right: 15px;
  }
}

mat-spinner {
  position: absolute;
  top: calc(50% - 50px);
  left: calc(50%);
}

.collector-radio-group {
  display: inline-flex;
  flex-direction: column;
}

.collector-radio-button {
  margin: 15px;
}
