<div i18n-ngBusy [ngBusy]="{busy: busy, message: 'WAIT' | translate}"></div>
<mat-tab-group>
  <mat-tab i18n-label="@@currentBalance" label="Current Balance">
    <div>
      <span class="balanceNumber" *ngIf="currentBalance" i18n="@@balanceWithNumber">Balance - {{currentBalance?.number}}</span>
      <button *ngIf="!currentBalance" type="submit" class="btn btn-success" mat-raised-button color="primary" (click)="init()" i18n="@@initBalance">Init</button>
      <button *ngIf="currentBalance" type="submit" class="btn btn-success" mat-raised-button color="primary" (click)="close()" i18n="@@closeBalance">Close</button>
    </div>
    <app-balance-document-list [payables]="payables"></app-balance-document-list>
    <app-balance-payment-list [payables]="payables"></app-balance-payment-list>
  </mat-tab>
  <mat-tab i18n-label="@@balanceSummary" label="Summary">
    <app-balance-summary [balance]="currentBalance"></app-balance-summary>
  </mat-tab>
</mat-tab-group>
