mat-spinner {
  left: calc(50% - 50px);
  position: absolute;
  top: calc(50% - 50px);
}

mat-row {
  mat-cell:last-child {
    flex: 0 0 0;
    min-width: 70px;
  }
}

mat-header-row {
  mat-header-cell:last-child {
    flex: 0 0 0;
    min-width: 70px;
  }
}
