<h2 mat-dialog-title>Registrar Salida / Ingreso</h2>
<mat-dialog-content>
  <div class="wrapper">
    <form [formGroup]="cashEntryForm">
      <mat-button-toggle-group formControlName="type">
        <mat-button-toggle value="WITHDRAWAL">Salida</mat-button-toggle>
        <mat-button-toggle value="DEPOSIT">Ingreso</mat-button-toggle>
      </mat-button-toggle-group>
      <mat-button-toggle-group formControlName="currency">
        @for (currency of currencies; track currency) {
          <mat-button-toggle value="{{ currency }}">{{ currency }}</mat-button-toggle>
        }
      </mat-button-toggle-group>
      <mat-form-field>
        <mat-label>Concepto</mat-label>
        <textarea matInput formControlName="description"></textarea>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Monto</mat-label>
        <input matInput formControlName="amount" />
      </mat-form-field>
    </form>
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close>Cancelar</button>
  <button mat-button (click)="submit()" disabled="{{ !cashEntryForm.valid }}">Enviar</button>
</mat-dialog-actions>
