<h1 mat-dialog-title i18n="@@paymentSuccessDialogHeader">{data.docType, select, 0 {Receipt} 1 {Invoice} 2 {Ticket}}: {{data.document.number}}</h1>
<mat-dialog-content>
  <div class="content">
    <div i18n="@@paymentType-CHANGE">Change: {{ data.change | posCurrency:data.currency}}</div>
    <div *ngIf="data.print">
      <app-print-display [printObservable]="printObservable"></app-print-display>
    </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close>OK</button>
</mat-dialog-actions>
