<mat-tab-group appSameHeight="mat-card-image" (selectedTabChange)="tabChanged($event)" [selectedIndex]="selectedIndex">
  <mat-tab *ngFor="let category of categories; let i = index" label="{{categories[i].name}}">
    <div class="pos-productgrid" [ngClass]="size">
      <mat-card class="pos-card" (click)="select(product)" *ngFor="let product of category.products">
        <mat-card-header>
          <mat-card-title>{{product.sku}}</mat-card-title>
        </mat-card-header>
        <div class="pos-card-image">
          <img *ngIf="shownTabs.includes(i)" mat-card-image [src]="product.imageOid | secure" alt="{{product.description}}">
        </div>
        <mat-card-content>
          {{product.description}}
        </mat-card-content>
      </mat-card>
    </div>
  </mat-tab>
</mat-tab-group>
