<form class="payment-form" [formGroup]="paymentForm">
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Monto" type="text" formControlName="amount" class="right-align">
    <span matPrefix>{{currency}}&nbsp;</span>
  </mat-form-field>
  <button type="button" mat-raised-button (click)="setChange()">{{'<<'}}</button>
</form>
<div fxLayout="row" fxLayoutGap="20px">
  <app-keypad (number)="setNumber($event)"></app-keypad>
  <mat-radio-group class="paymentType-radio-group" [(ngModel)]="paymentType">
    <mat-radio-button class="paymentType-radio-button" *ngFor="let type of paymentTypes; let idx = index" [value]="type">
      {{('PAYMENT.' + PaymentType[type]) | translate}}
    </mat-radio-button>
  </mat-radio-group>
</div>
<button type="submit" class="btn btn-success" mat-raised-button color="primary" (click)="addPayment()">Add Pago</button>
