.wrapper {
  height: 400px;

  .content {
    display: flex;

    .payment-form-wrapper {
      display: flex;
      flex-direction: column;

      .keypad-warpper {
        display: flex;
        gap: 20px;
      }
    }
  }

}

.card-radio-group {
  display: inline-flex;
  flex-direction: column;
}

.card-radio-button {
  margin: 15px;
}

.payment-form {
  height: 65px;

  & mat-form-field {
    width: 164px;
    margin-right: 15px;
    margin-left: 5px;
  }
}

.mat-mdc-outlined-button {
  font-size: 22px;
  border-radius: 8px;
  max-width: 62px;
  padding: 0;

  .mat-icon {
    font-size: unset;
    height: unset;
    left: 6px;
  }
}