.content {
  display: flex;

  .payment-form-wrapper {
    display: flex;
    flex-direction: column;

    .keypad-warpper {
      display: flex;
      gap: 20px;
    }
  }
}

.card-radio-group {
  display: inline-flex;
  flex-direction: column;
}

.card-radio-button {
  margin: 15px;
}

.payment-form {
  & mat-form-field {
    width: 120px;
    margin-right: 15px;
  }
}
