.wrapper {
  padding: 10px;

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .opening {
      display: flex;
      flex-direction: column;
      margin-left: 50px;
      .openingTitle {
        font-weight: bold;
      }
      .cashEntry {
        display: flex;
      }
    }
  }

  .section {
    border: 1px solid;
    margin: 2px;
    padding: 5px;

    & > p {
      font-weight: bold;
    }
  }
}
