.wrapper {
  padding: 1rem;

  .header {
    position: sticky;
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  .reason-radio-group {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
    align-items: flex-start;
  }

  .documents {
    display: flex;
    justify-content: space-around;

    .toggle {
      float: inline-end;
      margin-right: 21px;
      margin-top: 73px;
    }
  }

  .paymentWrapper {
    display: flex;
    flex-direction: row;
    margin-top: 10px;

    .paymentToggle {
      margin-right: 50px;
    }

    .payments {
      margin-left: 50px;
    }
  }
  .submitBtn {
    margin-top: 20px;
  }
}
