.wrapper {
  padding: 1rem;

  .header {
    position: sticky;
  }

  .documents {
    display: flex;
    justify-content: space-around;

    .toggle {
      float: inline-end;
      margin-right: 21px;
      margin-top: 73px;
    }
  }

  .footer {
    border-top: 2px solid lightgrey;
    padding-top: 1rem;

    display: flex;

    .payments {
      flex-grow: 1;
    }

    .buttons {
      flex-grow: 1;
      text-align: center;

    }
  }
}