.wrapper {
  padding: 1rem;

  .header {
    position: sticky;
  }

  .documents {
    display: flex;
    justify-content: space-around;
  }

  .footer {
    border-top: 2px solid lightgrey;
    display: flex;
  }
}
