<div class="wrapper">
  <div class="header">
    <h2 i18n>Balance - {{ balance.number }}</h2>
  </div>
  <div class="documents">
    <div>
      <app-document [document]='sourceDocument' [showContact]="true"></app-document>
    </div>
    <div>
      <div class="toggle">
        <button mat-icon-button (click)="toggle()">
          <mat-icon>autorenew</mat-icon>
        </button>
      </div>
      <app-document [document]='creditNote!!' [showContact]="true" [showCmd]="permitPartial"
        (onItemClick)="itemClick($event)" [markInvalid]="itemInvalid" [btnIcon]="btnIcon"></app-document>
      <button mat-raised-button color="primary" (click)="reset()">Reiniciar</button>
    </div>
  </div>
  <div class="footer">
    <div class="payments">
      <button mat-raised-button color="secondary" (click)="openPaymentDialog()">Anadir Pago</button>
      <mat-list dense>
        @for (payment of payments; track payment) {
        <mat-list-item>
          <span matLine>{{ payment.cardTypeId ? payment.cardLabel : ('PAYMENT.' + payment.type) |
            translate }} {{payment.amount | posCurrency:paymentService.currency}}</span>
          <button mat-icon-button (click)="delPayment(payment)">
            <mat-icon>highlight_off</mat-icon>
          </button>
        </mat-list-item>
        }
      </mat-list>
    </div>
    <div class="buttons">
      <button mat-raised-button color="primary" (click)="createCreditNote()" [disabled]="!validated || loading">Emitir Nota de Credito</button>
    </div>
  </div>
</div>