
.mat-list-item {
  height: 32px;
}

.mat-line {
  text-align: right;
}

.mat-column-index {
  flex: 0 0 40px;
}

.mat-column-quantity {
  flex: 0 0 60px;
}

.mat-column-crossUnitPrice {
  flex: 0 0 60px;
}

.mat-column-crossPrice {
  flex: 0 0 60px;
}
