.contact-document {
  margin-bottom: 15px;
  text-align: left;
  span {
    display: block;
    margin-bottom: 5px;
  }
}

.mat-mdc-list-item {
  height: 32px;
}

.mat-line {
  text-align: right;
}

.mat-column-index {
  width: 40px;
  min-width: 60px;
  flex-grow: 0;
}

.mat-column-quantity {
  width: 60px;
  min-width: 60px;
  flex-grow: 0;
}
.mat-column-childQuantity {
  width: 60px;
  min-width: 60px;
  flex-grow: 0;
}

.mat-column-productDesc {
  flex-grow: 4;
}
.mat-column-crossUnitPrice {
  min-width: 100px;
  flex-shrink: 0;
  text-align: right;
  div {
    width: 99%;
  }
}

.mat-column-crossPrice {
  min-width: 100px;
  flex-shrink: 0;
  text-align: right;
  margin-right: 5px;
  div {
    width: 99%;
  }
}

.footer {
  flex-direction: row;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;

  .payment-employee-info {
    margin-top: 8px;
    .mat-line {
      text-align: left;
    }
  }
  .print-container {
    button {
      top: calc(50% - 18px);
    }
  }
}

.details-row {
  height: 0;
  min-height: 0;

  mat-cell {
    height: 0;
  }
}

.details-partlist {
  height: unset;
  min-height: unset;

  mat-cell {
    height: unset;
  }
}

.relation-detail {
  flex-direction: column;
  align-items: flex-start;
}
