.pos-usergrid {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 800px;
}

.pos-usercard {
  width: 160px;
}

.pos-usercard .mat-card-content {
  text-align: center;
}

.pos-card-selected {
  border-color: grey;
  border-style: solid;
  border-width: 2px;
}

.inputForm {
  margin-top: 15px;
  text-align: center;
}

.config {
  position: absolute;
  bottom: 5px;
  text-align: center;
  margin-left: calc(50% - 100px);
  width: 200px;
}

.hiddenUser {
  position: absolute;
  bottom: 5px;
  right: 5px;
}

.logo {
  position: relative;
  left: calc(50% - 100px);
  top: 30px;
  width: 200px;
}

mat-card {
  & .logo {
    margin-bottom: 20px;
    position: unset;
    width: 165px;
  }
}
