<div fxLayout="column">
  <div fxLayout="row wrap" fxLayoutAlign="center start" fxLayoutGap="10px" class="pos-usergrid" [style.display]="!hiddenUser?'none':'inherit'">
    <mat-card class="pos-usercard" *ngFor="let user of users" (click)="select(user)" [ngClass]="{'pos-card-selected': this.loginForm.value.userName==user.username}">
      <svg-icon src="/assets/user.svg" class="logo"></svg-icon>
      <mat-card-content>
        {{user.firstName}} {{user.surName}}
      </mat-card-content>
    </mat-card>
  </div>
</div>
<div class="inputForm">
  <form [formGroup]="loginForm" (ngSubmit)="login()">
    <div [hidden]="hiddenUser">
      <mat-form-field class="example-full-width">
        <input placeholder="{{'USER' | translate}}" class="form-control" matInput formControlName="userName" [appVirtKeyboard]>
      </mat-form-field>
    </div>
    <mat-form-field class="example-full-width">
      <input placeholder="{{'PASSWORD' | translate}}" type="password" class="form-control" matInput formControlName="password" [appVirtKeyboard] [activateKeyboard]="virtKeyboard">
    </mat-form-field>
    <div>
      <button type="submit" class="btn btn-success" mat-raised-button color="primary">Login</button>
    </div>
  </form>
</div>
<svg-icon src="/assets/synercom_logo.svg" class="logo"></svg-icon>
<div class="config">
  <mat-slide-toggle [checked]="virtKeyboard" (change)="toggleVirtKeyboard($event)">
    Virtual Keyboard
  </mat-slide-toggle>
</div>
<mat-button-toggle [value]="hiddenUser" (change)="toggleUser()" class="hiddenUser">{{'HIDDENUSER' | translate}}</mat-button-toggle>
