<div class="companies" fxLayout="column" *ngIf="showCompanySelection">
  <div fxLayout="row wrap" fxLayoutAlign="center start" fxLayoutGap="10px" class="pos-usergrid">
    <mat-card class="pos-companycard" *ngFor="let company of companies" (click)="setCompany(company)">
      <svg-icon src="/assets/enterprise.svg" class="logo"></svg-icon>
      <mat-card-content>
        {{company.label}}
      </mat-card-content>
    </mat-card>
  </div>
</div>
<div fxLayout="column">
  <div fxLayout="row wrap" fxLayoutAlign="center start" fxLayoutGap="10px" class="pos-usergrid" [style.display]="!hiddenUser?'none':'inherit'">
    <mat-card class="pos-usercard" *ngFor="let user of users" (click)="select(user)" [ngClass]="{'pos-card-selected': this.loginForm.value.userName==user.username}">
      <svg-icon src="/assets/user.svg" class="logo"></svg-icon>
      <mat-card-content>
        {{user.firstName}} {{user.surName}}
      </mat-card-content>
    </mat-card>
  </div>
</div>
<div class="inputForm">
  <form [formGroup]="loginForm" (ngSubmit)="login()">
    <div [hidden]="hiddenUser">
      <mat-form-field class="example-full-width">
        <input i18n-placeholder="@@user" placeholder="User" class="form-control" matInput formControlName="userName" [appVirtKeyboard]>
      </mat-form-field>
    </div>
    <mat-form-field class="example-full-width">
      <input #pwd i18n-placeholder="@@password" placeholder="Password" type="password" (keyup.enter)="login()" (enterClick)="login()" matInput formControlName="password" [appVirtKeyboard] [activateKeyboard]="virtKeyboard">
    </mat-form-field>
    <div>
      <button type="submit" class="btn btn-success" mat-raised-button color="primary" i18n="@@login">Login</button>
    </div>
  </form>
</div>
<svg-icon src="/assets/synercom_logo.svg" class="logo" [svgStyle]="{ 'width.px':200 }"></svg-icon>
<div class="config">
  <mat-slide-toggle [checked]="virtKeyboard" (change)="toggleVirtKeyboard($event)" i18n="@@virtualKeyboard">Virtual Keyboard</mat-slide-toggle>
</div>
<mat-button-toggle [value]="hiddenUser" (change)="toggleUser()" class="hiddenUser" i18n="@@hiddenUser">hidden User</mat-button-toggle>
<mat-button-toggle *ngIf="companies.length > 1" (change)="showCompanies()" class="showCompanies" i18n="@@selectCompany">Select Company</mat-button-toggle>
