.wrapper {
  display: flex;
  flex-direction: row;

  .document {
    width: 150px;
    margin-right: 25px;

    div {
      display: flex;
      justify-content: space-between;
    }
  }

  .payment {
    display: flex;
    flex-direction: row;

    div {
      width: 150px;
      margin-right: 25px;

      div {
        display: flex;
        justify-content: space-between;
      }
    }
  }
}
