.adminpage {
  padding: 5px;
  display: flex;

  div {
    margin: 15px;
  }
}

.versions {
  padding: 5px;
  width: 200px;
}

.element {
  padding: 5px;
}
.minWarning {
  color: red;
  font-weight: bold;
}
