<div class="example-form">
  <mat-form-field class="example-full-width">
    <input matInput placeholder="{{nameSearch ? 'Nombre' : 'Numero de Doc.' }}" aria-label="Contacto" [matAutocomplete]="auto" [formControl]="searchControl">
    <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn" (optionSelected)="selectContact($event)">
      <mat-option *ngFor="let item of searchResult" [value]="item">
        {{nameSearch ? item.name + ' - ' + item.idNumber : item.idNumber + ' - ' + item.name}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
  <mat-slide-toggle [checked]="nameSearch" (change)="setNameSearch()">
    {{nameSearch ? 'Buscar por Nombre' : 'Buscar por Numero de Documento' }}
  </mat-slide-toggle>
</div>
