<form [formGroup]="initForm">
    <mat-form-field appearance="fill">
        <mat-label>Selecionar Almacen</mat-label>
        <mat-select formControlName="warehouse">
            <mat-option *ngFor="let warehouse of warehouses" [value]="warehouse">
                {{ warehouse.name }}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Comentario</mat-label>
        <input matInput formControlName="comment" class="left"/>
    </mat-form-field>
</form>
<button mat-raised-button color="accent" [disabled]="initForm.invalid" (click)="submit()">Iniciar</button>