<h2 mat-dialog-title>Contacto / ShoutOut</h2>
<mat-dialog-content>
  <mat-tab-group
    dynamicHeight
    mat-stretch-tabs="false"
    mat-align-tabs="center"
    [(selectedIndex)]="selected"
    (selectedIndexChange)="selectedChanged()">
    @if (data.contact) {
      <mat-tab label="Contacto">
        <div class="contact">
          <app-contact (contactSelected)="selectContact($event)"></app-contact>
          <button mat-raised-button color="accent" (click)="openCreateContact()">
            Crear nuevo
          </button>
        </div>
      </mat-tab>
    }
    @if (data.shoutOut) {
      <mat-tab label="ShoutOut">
        <div class="shoutout">
          <mat-form-field class="form-full-width">
            <mat-label>ShoutOut</mat-label>
            <input matInput [(ngModel)]="shoutOut" />
          </mat-form-field>
        </div>
      </mat-tab>
    }
  </mat-tab-group>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button [disabled]="!isValid()" (click)="submit()">Enviar</button>
  <button mat-button mat-dialog-close>Cancel</button>
</mat-dialog-actions>
