<mat-tab-group [selectedIndex]="selected" (selectedIndexChange)="setIndex($event)">
  <mat-tab i18n-label="@@cash-payment" label="Cash">
    <app-cash />
  </mat-tab>
  <mat-tab i18n-label="@@card-payment" label="Cards">
    <app-card />
  </mat-tab>
  <mat-tab i18n-label="@@free-payment" label="Free">
    <app-free />
  </mat-tab>
  @if (auto) {
    <mat-tab i18n-label="@@auto-payment" label="Auto">
      <app-auto />
    </mat-tab>
  }
  @if (hasPermission(Permission.REDEEM_CREDITNOTE)) {
    <mat-tab i18n-label="@@redeem-creditnote-payment" label="Nota de Credito">
      <app-redeem-credit-note />
    </mat-tab>
  }
</mat-tab-group>
