<div class="content">
  <div [ngSwitch]="currentLayout" class="selector" [ngStyle]="{'height.px': screenHeight - 66 }">
    @if(contact != null || shoutOut != null) {
    <div class="contact">
      @if(contact != null) {
      <span>Contacto: {{contact.idType}}: {{contact.idNumber}} - {{contact.name}}</span>
      } @else {
      <span>ShoutOut: {{shoutOut}}</span>
      }
      <button mat-stroked-button (click)="assignContact(true)">Cambiar</button>
    </div>
    }
    <app-product-grid *ngSwitchCase="PosLayout.GRID" [remarkMode]="remarkMode" [(selectedIndex)]="selectedTabIndex"></app-product-grid>
    <app-product-list *ngSwitchCase="PosLayout.LIST" [remarkMode]="remarkMode"
      [isBarcode]="isBarcode"></app-product-list>
    <div class="button-list">
      @if(currentLayout === PosLayout.GRID) {
      <button mat-fab color="primary" (click)="openCatSelect()" class="catSelect">
        <mat-icon>category</mat-icon>
      </button>
      }

      <button class="remark-btn" (click)="toggleRemarkMode()" mat-fab [class.selected]="remarkMode">
        <mat-icon>description</mat-icon>
      </button>
      @if(this.workspaceService.getPosLayout() === PosLayout.BOTH) {
      <button mat-fab color="primary" (click)="switchLayout()" class="switch">
        <mat-icon>sync_alt</mat-icon>
      </button>
      }
      @if(allowAssignSeller) {
      <div class="seller">
        <button mat-fab color="primary" class="employee-btn" (click)="assignSeller()">
          <mat-icon>person_pin</mat-icon>
        </button>
        <div class="seller-label" *ngIf="seller"><span>{{seller.firstName}} {{seller.surName}}</span></div>
      </div>
      }
    </div>
  </div>
  <div class='ticket' [ngStyle]="{'height.px': screenHeight - 68 - 6}">
    <div>
      <div class='numPad-wrapper'>
        <mat-button-toggle [checked]="numPad" (click)="toggleNumPad()">
          <mat-icon>dialpad</mat-icon>
        </mat-button-toggle>
        <div class='numPad-form-wrapper' *ngIf="numPad">
          <div>
            <span class="right-align">{{multiplierLabel}}</span>
          </div>
          <app-keypad [showTopClear]="false" [showBottomClear]="true" (number)="setMultiplier($event)"></app-keypad>
        </div>
      </div>
      <app-ticket (multiplierClick)="resetMultiplier()" [isBarcode]="isBarcode"></app-ticket>
      <app-totals [ngStyle]="{'display': (sticky ? 'block' : 'unset')}"></app-totals>
    </div>
    <app-commands></app-commands>
  </div>
</div>