<div fxLayout='row' fxLayoutGap="20px">
  <div [ngSwitch]="currentLayout" class="selector" [ngStyle]="{'height.px': screenHeight - 64 }">
    <app-productgrid *ngSwitchCase="PosLayout.GRID"></app-productgrid>
    <app-product-list *ngSwitchCase="PosLayout.LIST"></app-product-list>
    <button mat-fab color="primary" (click)="switchLayout()" *ngIf="this.workspaceService.getPosLayout() === PosLayout.BOTH">Switch</button>
  </div>
  <div class='ticket' [ngStyle]="{'height.px': screenHeight - 64 - 6}">
    <div>
      <app-ticket></app-ticket>
      <app-totals></app-totals>
    </div>
    <app-commands></app-commands>
  </div>
</div>
