<div fxLayout='row' fxLayoutGap="20px">
  <div *ngIf="grid; else productlist" class="productgrid" [ngStyle]="{'height.px': screenHeight - 64 }">
    <app-productgrid></app-productgrid>
  </div>
  <ng-template #productlist>
    <div class="productlist" [ngStyle]="{'height.px': screenHeight - 64 }">
      <app-product-list></app-product-list>
    </div>
  </ng-template>
  <div class='ticket' [ngStyle]="{'height.px': screenHeight - 64 - 6}">
    <div>
      <app-ticket></app-ticket>
      <app-totals></app-totals>
    </div>
    <app-commands></app-commands>
  </div>
</div>
