<mat-list>
  <mat-list-item class="amount">
    <div matLine>
     Op. Gravada: {{net | posCurrency:currentCurrency}}
    </div>
  </mat-list-item>
  <mat-list-item class="amount" *ngFor="let tax of taxesEntries">
    <div matLine>
      {{tax[0] | translate}}: {{tax[1] | posCurrency:currentCurrency}}
    </div>
  </mat-list-item>
  <mat-list-item class="amount">
    <div matLine>
      Total: {{cross | posCurrency:currentCurrency}}
    </div>
  </mat-list-item>
  <ng-container *ngIf="payableAmount && payableAmount > 0 && payableAmount != crossTotal">
    <mat-list-item class="amount">
      <div matLine>
        Redondeo: {{payableAmount - cross | posCurrency:currentCurrency}}
      </div>
    </mat-list-item>
    <mat-list-item class="amount">
      <div matLine>
        Por pagar: {{payableAmount | posCurrency:currentCurrency}}
      </div>
    </mat-list-item>
  </ng-container>
</mat-list>
