.totalDiscount {
  ::ng-deep .mdc-button__label {
    color: var(--mat-badge-background-color);
  }
  ::ng-deep button {
    left: -8px;
  }
}

.mat-mdc-list-item {
  height: 32px;
}

.mat-line {
  text-align: right;
}

