<div class="wrapper">
  <div class="search">
  <form [formGroup]="documentForm">
    <mat-form-field>
      <mat-label>Nota de Credito</mat-label>
      <input matInput formControlName="number" />
    </mat-form-field>
  </form>
   <button mat-raised-button color="primary" (click)="retrieve()" [disabled]="documentForm.invalid">
    Buscar
  </button>
  </div>
  <div>
  @for (creditNote of creditNotes; track creditNote) {
   <mat-card appearance="outlined" class="document-card">
          <mat-card-header>
            <mat-card-title> {{ creditNote.number }}</mat-card-title>
            <mat-card-subtitle>{{ creditNote.date }} - {{ creditNote.crossTotal | posCurrency: creditNote.currency }}</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <mat-list>
              <mat-list-item>
                <span matListItemTitle>Cliente</span>
                <span matListItemLine>{{ creditNote?.contact?.name }}</span> </mat-list-item
              ><mat-list-item>
                <span matListItemTitle>Estatus</span>
                <span matListItemLine>{{ creditNote.status | translate }}</span>
              </mat-list-item>
            </mat-list>
          </mat-card-content>
          <mat-card-actions align="end">
            <button mat-button (click)="addRedeemPayment(creditNote)">Selecionar</button>
          </mat-card-actions>
        </mat-card>
  }
 </div>
</div>
