<mat-list dense>
  @for (paymentInfo of payments; track paymentInfo) {
    <mat-list-item>
      <p matLine>
        <span class="paymentType">{{('PAYMENT.' + paymentInfo.type) | translate}} {{paymentInfo.label}} - {{ undefined | posCurrency:paymentInfo.currency}}:</span>
        <span class="amount">{{paymentInfo.amount | posCurrency:paymentInfo.currency}}</span>
      </p>
    </mat-list-item>
  }
</mat-list>
<div class="total">
  <span>Totales</span>
  @for (total of crossTotals; track total) {
    <span>{{ total.amount | posCurrency:total.currency}}</span>
  }
</div>
