<div class="wrapper">
  <mat-list dense>
    @for (cashEntry of cashEntries; track cashEntry) {
      <mat-list-item>
        <p matLine>
          <span class="cashEntry">{{ "CASHENTRYTYPE." + cashEntry.entryType | translate }}: </span>
          <span class="amount">{{ cashEntry.amount | posCurrency: cashEntry.currency }}</span>
          <span class="description"> - {{ cashEntry.description }}</span>
        </p>
      </mat-list-item>
    }

    @for (paymentInfo of payments; track paymentInfo) {
      <mat-list-item>
        <p matLine>
          <span class="paymentType"
            >{{ "PAYMENT." + paymentInfo.type | translate }} {{ paymentInfo.label }} -
            {{ undefined | posCurrency: paymentInfo.currency }}:</span
          >
          <span class="amount">{{ paymentInfo.amount | posCurrency: paymentInfo.currency }}</span>
        </p>
      </mat-list-item>
    }
  </mat-list>
  <div class="total">
    <span>Totales</span>
    @for (total of crossTotals; track total) {
      <span>{{ total.amount | posCurrency: total.currency }}</span>
    }
  </div>
</div>
