<h1 mat-dialog-title>{{ "CONTACTS.CREATETITLE" | translate }}</h1>
<mat-dialog-content>
  <form [formGroup]="contactForm">
    <mat-form-field>
      <input matInput placeholder="{{ 'CONTACTS.TAXNUMBER' | translate }}" formControlName="taxNumber">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="{{ 'CONTACTS.NAME' | translate }}" formControlName="name">
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button type="button" [disabled]="contactForm.invalid" (click)="submit()">{{ "CMD.CREATE" | translate }}</button>
  <button mat-button type="button" mat-dialog-close>{{ "CMD.CANCEL" | translate }}</button>
</mat-dialog-actions>
