.pos-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  mat-toolbar {
    display: flex;
    justify-content: space-between;
  }

  & div {
    text-align: right;
  }


}
mat-toolbar {
  border-bottom: 1px solid var(--mat-sys-outline-variant);
}

mat-sidenav {
  width: 75px;
  border-right: 1px solid var(--mat-sys-outline-variant);
  border-radius: 0;
}

.pos-sidenav {
  height: 100%;

}

.mat-mdc-list button {
  border-radius: 2px;
  border-style: solid;
}

svg-icon.logo.white {
  left: 15px;
  position: relative;
  top: 5px;
  width: 120px;
}

.workspace {
  font-weight: initial;
}

#close {
  position: absolute;
  bottom: 5px;
  left: 15px;
}