.pos-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  & div {
    text-align: right;
  }
}

.pos-sidenav {
  height: 100%;
}

.mat-list button {
  border-radius: 2px;
  border-style: solid;
}

svg-icon.logo.white {
  fill: white;
  margin-top: 4px;
  width: 125px;
}
