<div class="pos-container">
  <mat-toolbar color="primary" fxLayout='row'>
    <button mat-icon-button (click)="sidenav.toggle()"><mat-icon>menu</mat-icon></button>
    <h2 class="example-app-name">{{workspace}}</h2>
    <div fxFlex fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="end center">
      <svg-icon src="/assets/synercom_logo.svg" class="logo white" *ngIf="!router.url.includes('login')"></svg-icon>
      <app-theme-picker></app-theme-picker>
    </div>
  </mat-toolbar>
  <mat-sidenav-container class="pos-sidenav">
    <mat-sidenav #sidenav [mode]="(screenWidth > 840) ? 'side' : 'over'">
      <mat-list>
        <mat-list-item>
          <button routerLink="/pos" matTooltip="{{'MENU.POS' | translate}}" matTooltipPosition="right">
              <mat-icon aria-label="POS" class="posIcon-36">shop</mat-icon>
          </button>
        </mat-list-item>
        <mat-list-item>
          <button routerLink="/products" matTooltip="{{'MENU.PRODUCTS' | translate}}" matTooltipPosition="right">
            <mat-icon aria-label="products" class="posIcon-36">store</mat-icon>
          </button>
        </mat-list-item>
        <mat-list-item>
          <button routerLink="/orders" matTooltip="{{'MENU.ORDERS' | translate}}" matTooltipPosition="right">
            <mat-icon aria-label="Orders" class="posIcon-36">dns</mat-icon>
          </button>
        </mat-list-item>
        <mat-list-item *ngIf="spots">
          <button routerLink="/spots" matTooltip="{{'MENU.SPOTS' | translate}}" matTooltipPosition="right">
              <mat-icon aria-label="Spots" class="posIcon-36">place</mat-icon>
          </button>
        </mat-list-item>
        <mat-list-item *ngIf="inventory">
          <button routerLink="/inventory" matTooltip="{{'MENU.INVENTORY' | translate}}" matTooltipPosition="right">
            <mat-icon aria-label="inventory" class="posIcon-36">domain</mat-icon>
          </button>
        </mat-list-item>
        <mat-list-item>
          <button routerLink="/contacts" matTooltip="{{'MENU.CONTACTS' | translate}}" matTooltipPosition="right">
            <mat-icon aria-label="Contacts" class="posIcon-36">contacts</mat-icon>
          </button>
        </mat-list-item>
        <mat-list-item *ngIf="allowPayment">
          <button routerLink="/balance" matTooltip="{{'MENU.BALANCE' | translate}}" matTooltipPosition="right">
            <mat-icon aria-label="Balance" class="posIcon-36">account_balance</mat-icon>
          </button>
        </mat-list-item>
        <mat-list-item>
          <button routerLink="/workspaces" matTooltip="{{'MENU.WORKSPACES' | translate}}" matTooltipPosition="right">
              <mat-icon aria-label="Workspaces" class="posIcon-36">devices</mat-icon>
          </button>
        </mat-list-item>
        <mat-list-item *ngIf="auth.hasRole(Roles['ADMIN'])" matTooltip="{{'MENU.ADMIN' | translate}}" matTooltipPosition="right">
          <button routerLink="/admin">
              <mat-icon aria-label="Admin" class="posIcon-36">build</mat-icon>
          </button>
        </mat-list-item>
        <mat-list-item>
          <button routerLink="/login" matTooltip="{{'MENU.LOGIN' | translate}}" matTooltipPosition="right">
              <mat-icon aria-label="login" class="posIcon-36">bubble_chart</mat-icon>
          </button>
        </mat-list-item>
      </mat-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
