.pos-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  mat-toolbar {
    display: flex;
    justify-content: space-between;
  }

  & div {
    text-align: right;
  }


}

.pos-sidenav {
  height: 100%;
}

.mat-list button {
  border-radius: 2px;
  border-style: solid;
}

svg-icon.logo.white {
  fill: white;
  left: 15px;
  position: relative;
  top: 5px;
  width: 120px;
}

.workspace {
  font-weight: initial;
}

#close {
  position: absolute;
  bottom: 5px;
  left: 15px;
}
