<button mat-icon-button [mat-menu-trigger-for]="themeMenu" matTooltip="Select a theme!" tabindex="-1">
  <mat-icon>format_color_fill</mat-icon>
</button>
<mat-menu class="docs-theme-picker-menu" #themeMenu="matMenu" x-position="before">
  <div>
    <mat-grid-list cols="2">
      @for (theme of themes; track theme) {
        <mat-grid-tile>
          <div mat-menu-item (click)="installTheme(theme)">
            <div class="docs-theme-picker-swatch">
              @if (currentTheme == theme) {
                <mat-icon class="docs-theme-chosen-icon">check_circle</mat-icon>
              }
              <div class="docs-theme-picker-primary" [style.background]="theme.color"  matTooltip="Info about the action"></div>
            </div>
          </div>
        </mat-grid-tile>
      }
    </mat-grid-list>
  </div>
</mat-menu>