<div class="wrapper">
  <form [formGroup]="searchForm">
    <mat-form-field>
      <input matInput i18n-placeholder="@@search" placeholder="Search" formControlName="term" autocomplete="off">
    </mat-form-field>
  </form>
  <mat-table #table [dataSource]="dataSource" matSort matSortActive="number" matSortDirection="desc">
    <ng-container matColumnDef="type">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Tipo </mat-header-cell>
      <mat-cell *matCellDef="let doc"> {{doc.type | translate }} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="number">
      <mat-header-cell *matHeaderCellDef mat-sort-header> No </mat-header-cell>
      <mat-cell *matCellDef="let doc"> {{doc.number}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="date">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Fecha </mat-header-cell>
      <mat-cell *matCellDef="let doc"> {{doc.date}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="status">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Estatus </mat-header-cell>
      <mat-cell *matCellDef="let doc"> {{doc.status | translate}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="total">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Total </mat-header-cell>
      <mat-cell *matCellDef="let doc"> {{doc.crossTotal | posCurrency:doc.currency}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="cmd">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let doc">
        <button (click)="show(doc)" mat-stroked-button>
          <mat-icon class="posIcon-36">info</mat-icon>
        </button>
      </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</div>
