.mat-tab-group {
  height: 100%;

  ::ng-deep .mat-tab-body-wrapper {
    flex: 1 1 100%;

    .floor {
      height: 100%;
    }
  }
}

.editModeButton {
  position: absolute;
  right: 10px;
  bottom: 4px;
  z-index: 1;
  
  & .posIcon-36 {
    top: -5px;
    position: relative;
  }
}
