.mat-mdc-tab-group {
  height: 100%;
  /* TODO(mdc-migration): The following rule targets internal classes of tabs that may no longer apply for the MDC version. */
  ::ng-deep .mat-tab-body-wrapper {
    flex: 1 1 100%;

    .floor {
      height: 100%;
      background-repeat: no-repeat;
      background-position: 25px center;
      background-clip: border-box;
      background-attachment: local;
      transition:background-position 0.25s ease;

      button {
        position: absolute;
      }
    }
  }
}

.header-less-tabs {
  ::ng-deep mat-tab-header.mat-mdc-tab-header {
    display: none;
  }
}

.editModeButton {
  position: absolute;
  right: 130px;
  bottom: 4px;
  margin: 8px;
  z-index: 1;

  & .posIcon-36 {
    top: -5px;
    position: relative;
  }
}

.split {
  position: absolute;
  right: 65px;
  bottom: 4px;
  margin: 8px;
  z-index: 1;

  & .posIcon-36 {
    top: -5px;
    position: relative;
  }
}

.swap {
  position: absolute;
  right: 0;
  bottom: 4px;
  margin: 8px;
  z-index: 1;

  & .posIcon-36 {
    top: -5px;
    position: relative;
  }
}
