<mat-tab-group [class.header-less-tabs]="floors.length <= 1" (resized)="onResized($event)">
  <mat-tab *ngFor="let floor of floors; let i = index" label="{{floor?.label}}" >
    <div class="floor" [class.sidenav]="sidenav">
      <ng-container *ngFor="let spot of floor.spots">
        <button mat-fab
          color="{{spot.order ? 'accent' : 'primary'}}"
          (click)="selectSpot(spot)"
          cdkDrag
          [cdkDragDisabled]="!editMode"
          (cdkDragEnded)="dragEnded($event)"
          [cdkDragData]="spot"
          cdkDragBoundary=".floor"
          [cdkDragFreeDragPosition]="spot.position">
            {{spot.label}}
        </button>
      </ng-container>
    </div>
  </mat-tab>
</mat-tab-group>
<div class="editModeButton">
  <button (click)="togglEditMode()" mat-fab color="{{editMode ? 'accent' : 'primary' }}" matTooltip="Edit Mode">
    <mat-icon class="posIcon-36">edit</mat-icon>
  </button>
</div>
