.mat-tab-group {
  height: 100%;

  ::ng-deep .mat-tab-body-wrapper {
    flex: 1 1 100%;

    .floor {
      height: 100%;
      background-image: url("../../../assets/florplan.svg");
      background-repeat: no-repeat;
      background-position: 25px center;
      background-clip: border-box;
      background-attachment: fixed;
      transition:background-position 0.25s ease;

      &.sidenav {
        background-position-x: 110px;
        transition:background-position 0.25s ease;
      }
    }
  }
}

.header-less-tabs {
  ::ng-deep mat-tab-header.mat-tab-header {
    display: none;
  }
}

.editModeButton {
  position: absolute;
  right: 10px;
  bottom: 4px;
  z-index: 1;

  & .posIcon-36 {
    top: -5px;
    position: relative;
  }
}
