<mat-tab-group (selectedTabChange)="tabChanged($event)" [selectedIndex]="selectedTabIndex">
    <mat-tab *ngFor="let category of categories; let i = index">
        <ng-template mat-tab-label>
            <mat-icon *ngIf="category.name=='PLACEHOLDER'" class="example-tab-icon">turned_in_not</mat-icon>
            {{category?.name}}
        </ng-template>
        <ng-container *ngIf="category?.categories.length">
            <app-grid-element [categories]="category.categories" (categorySelected)="onChildCategorySelected($event)"
                [currency]="currency" [showInventory]="showInventory" [size]="size" [showPrices]="showPrices"
                [inventory]="inventory">
            </app-grid-element>
        </ng-container>
        <app-products-element [products]="products" (stock)="stock(product)" [currency]="currency"
            [showInventory]="showInventory" [size]="size" [showPrices]="showPrices" [inventory]="inventory" [remarkMode]="remarkMode">
        </app-products-element>
    </mat-tab>
</mat-tab-group>