<div class="content">
  <div class="doc-wrapper">
    <div class="leftwrapper">
      @if (showContact) {
        <app-contact (contactSelected)="selectContact($event)" [contact]="contact"></app-contact>
      }
      <div>
        <mat-radio-group class="docType-radio-group" [(ngModel)]="docType">
          @for (type of docTypes; track type; let idx = $index) {
            <mat-radio-button class="docType-radio-button"
              [value]="DocumentType[type]" (click)="setDocType(type)">
              {{type.toString() | translate}}
            </mat-radio-button>
          }
        </mat-radio-group>
        <mat-button-toggle [value]="showContact" (change)="toggleContact()" [disabled]="!permitToggleContact">{{
        showContact ? 'Desc.' : 'Cliente'}}</mat-button-toggle>
        <div class="balance">
          @if (balance) {
            <span i18n>Balance - {{ balance.number }}</span>
          }
        </div>
      </div>
      <app-document></app-document>
    </div>
    <div class="button-list">
      <button mat-fab color="primary" (click)="showDiscount()" class="discount-btn">Desc.</button>
      @if (activateNote) {
        <button mat-fab color="primary" (click)="addNote()" class="discount-btn">
          <mat-icon>note</mat-icon>
        </button>
      }
      @if (allowAssignSeller) {
        <div class="seller">
          <button mat-fab color="primary" class="employee-btn" (click)="assignSeller()">
            <mat-icon>person_pin</mat-icon>
          </button>
          @if (seller) {
            <div class="seller-label"><span>{{seller.firstName}} {{seller.surName}}</span></div>
          }
        </div>
      }
    </div>
  </div>
  <div class="paymentsContainer">
    <div class="paymentsTypes">
      <app-payment-type></app-payment-type>
    </div>
    <mat-divider></mat-divider>
    <div class="paymentsRegistered">
      <mat-list dense>
        @for (payment of payments; track payment) {
          <mat-list-item>
            <span matLine>{{ payment.cardTypeId ? payment.cardLabel : ('PAYMENT.' + PaymentType[payment.type]) | translate
            }} {{payment.amount | posCurrency:paymentService.currency}}</span>
            <button mat-icon-button (click)="delPayment(payment)">
              <mat-icon>highlight_off</mat-icon>
            </button>
          </mat-list-item>
        }
      </mat-list>
      <div>
        <div class="payTotal">
          <h2 i18n="@@payment-total">Total: {{total | posCurrency:paymentService.currency}}</h2>
          <h2 [ngClass]="{'negative': change < 0}" i18n="@@payment-change">Change: {{change |
            posCurrency:paymentService.currency}}</h2>
        </div>
        <div class="createDocument">
          @if (balance) {
            <button mat-raised-button color="primary"
            (click)="submitDocument()" [disabled]="submitDisabled" i18n="@@payment-submit">Enviar</button>
          }
          @if (allowPrintPreliminary) {
            <button mat-button (click)="printPreliminary()">
              <mat-icon class="posIcon-36">print</mat-icon>
            </button>
          }
        </div>
      </div>
    </div>
  </div>