
.content {
  display: flex;
  gap: 10px;

  .doc-wrapper {
    flex-grow: 1;

    .leftwrapper {
      div {
        display: flex;
        justify-content:flex-start;
        gap: 20px;
      }
    }
  }
  .paymentsContainer {
    max-width: 50%;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 50%;
  }
}

.right-align {
  text-align: right;
}

.docType-radio-group {
  padding: 5px;
}

.docType-radio-button {
  margin: 5px;
}

.negative {
  color: red;
}



.paymentsRegistered,
.paymentsTypes {
  padding: 5px;
}

.createDocument button {
  top: 50%;
  position: relative;
  transform: translateY(-50%);
}

.payTotal h1 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.balance {
  font-weight: bold;
  margin-top: auto;
  margin-bottom: auto;
  text-align: center;
}

.leftwrapper {
  max-height: calc(100vh - 59px);
  overflow: auto;
}


.button-list {
  position: absolute;
  left: 15px;
  bottom: 15px;
  z-index: 200;
  display: flex;
  
  button {
    margin-right: 5px;
  }

  .employee-btn {
    & .posIcon-36 {
      top: -5px;
      position: relative;
    }
  }
  
  .discount-btn {
  
  }
  
}

