.right-align {
  text-align: right;
}

.docType-radio-group {
  padding: 5px;
}

.docType-radio-button {
  margin: 5px;
}

.negative {
  color: red;
}

.paymentsRegistered,
.paymentsTypes {
  padding: 5px;
}

.createDocument button {
  top: 50%;
  position: relative;
  transform: translateY(-50%);
}

.payTotal h1 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.balance {
  font-weight: bold;
  padding-top: 19px;
  text-align: center;
}
