<div class="wrapper">
  <div class="indicationSet">
    <ng-container *ngFor="let indicationSet of data?.indicationSets">
      <div>{{indicationSet.name}}</div>
      <div>
        <ng-container *ngFor="let indication of indicationSet.indications">
          <button mat-button (click)="select(indication)">{{indication.value}}</button>
        </ng-container>
      </div>
    </ng-container>
  </div>
  <form [formGroup]="remarkForm" autocomplete="off">
    <mat-form-field>
      <mat-chip-list #chipList>
        <mat-chip *ngFor="let indication of indications" [selectable]="selectable" [removable]="removable" (removed)="remove(indication)">
          {{indication.value}}
          <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
        </mat-chip>
        <input [matChipInputFor]="chipList"
          [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
          [matChipInputAddOnBlur]="true"
          (matChipInputTokenEnd)="add($event)"
          placeholder="Remark"
          i18n-placeholder="@@remark"
          formControlName="remark">
      </mat-chip-list>
    </mat-form-field>
  </form>
</div>
<mat-dialog-actions>
  <button mat-button (click)="close()">OK</button>
</mat-dialog-actions>
