<h2 mat-dialog-title>{{product.sku}} - {{product.description}}</h2>
<mat-dialog-content>
  <div>
    @if (loading) {
    <mat-spinner></mat-spinner>
    }
    <div>
      @if (!loading) {
      <img [src]="product.imageOid! | secure" alt="{{product.description}}">
      }
    </div>
    <div>
      <p>
        <span class="property">Codigo:</span>@if (!loading) {
        <span>{{product.sku}}</span>
        }
      </p>
      <p>
        <span class="property">Descripcion:</span>@if (!loading) {
        <span>{{product.description}}</span>
        }
      </p>
      <p>
        <span class="property">Precio Neto:</span>@if (!loading) {
        <span> {{ product.netPrice |
          posCurrency:currentCurrency}}</span>
        }

      </p>
      <p>
        <span class="property">Precio Bruto:</span>@if (!loading) {
        <span>{{ product.crossPrice |
          posCurrency:currentCurrency}}</span>
        }
      </p>
      <p>
        <span class="property">Categories:</span>
        <mat-list dense>
          @for (category of categories; track category) {
          <mat-list-item>
            <span matLine>{{category}}</span>
          </mat-list-item>
          }
        </mat-list>
      </p>
      @if (product.barcodes.length > 0) {
      <p>
        <span class="property">Codigo de Barras:</span>
        <mat-list dense>
          @for (barcode of product.barcodes; track barcode) {
          <mat-list-item>
            <span matLine>{{barcode.type}} - {{barcode.code}}</span>
          </mat-list-item>
          }
        </mat-list>
      </p>
      }
      @if (showInventory && isStockable) {
      <p>
        <span class="property">Stock:</span>
        <mat-list dense>
          @for (entry of inventory; track entry) {
          <mat-list-item>
            <span matLine>{{entry.warehouse.name}}: {{entry.quantity}}</span>
          </mat-list-item>
          }
        </mat-list>
      </p>
      }
    </div>
  </div>
  @if (relations.length > 0) {
  <div>
    <mat-list>
      <span class="property">Relacionados:</span>
      @for (relation of relations; track relation) {
      <mat-list-item>
        <span matLine>{{relation.label}}: {{relation.product.sku}} {{relation.product.description}}</span>
      </mat-list-item>
      }
    </mat-list>
  </div>
  }
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close>Cerrar</button>
</mat-dialog-actions>