<div class="mat-elevation-z8">
  Inventario :{{stocktaking?.number}}
  <form [formGroup]="searchForm">
    <mat-form-field appearance="outline" class="searchInput">
      <input matInput placeholder="Buscar" autocomplete="off" [formControl]="searchControl" [matAutocomplete]="auto">
      <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn" (optionSelected)="selectProduct($event)">
        <mat-option *ngFor="let item of searchResult" [value]="item">
          {{item.sku + " " + item.description}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
    <button mat-icon-button (click)="clear()">
      <mat-icon>close</mat-icon>
    </button>
  </form>
</div>
<div class="selection">
  <app-keypad [showTopClear]="false" (number)="setQuantity($event)"></app-keypad>
  <div class="confirmation">
    <div class="quantity">{{quantity}}</div>
    <div class="confirmation-btn">
      <button mat-raised-button color="accent" [disabled]="disabled" (click)="save()">Confirmar</button>
    </div>
  </div>
</div>