@use '@angular/material' as mat;

@include mat.elevation-classes();
@include mat.app-background();

@import "@fontsource/roboto";

@import 'material-symbols';

body {
  height: 100%;
  margin: 0;
  width: 100%;
}

.table-btn-icon {
  font-size: 24px !important;
  height: 24px !important;
  width: 24px !important;
}

.posIcon-48 {
  font-size: 48px;
}

.posIcon-48.mat-icon {
  height: 48px;
  width: 48px;
}

.posIcon-36 {
  font-size: 36px;
}

.posIcon-36.mat-icon.mat-ligature-font {
  height: 36px;
  width: 36px;
  font-size: 36px;
  margin-left: auto;
  margin-right: auto;
}

input.left {
  text-align: left;
}

svg-icon.logo {
  fill: #3f51b5;
}

mat-keyboard-container {
  width: 100%;
}