@use '@angular/material' as mat;
//@import './node_modules/@angular/material/theming';


// for npm roboto-fontface package (to load local files)
$roboto-font-path: "~roboto-fontface/fonts" !default;
@import "roboto-fontface/css/roboto/sass/roboto-fontface";

// for npm material-icons package (to load local files)
$material-icons-font-path: '~material-icons/iconfont/';
@import 'material-icons/iconfont/material-icons.scss';

@include mat.core();

body {
  height: 100%;
  margin: 0;
  width: 100%;
}

.posIcon-48 {
  font-size: 48px;
}

.posIcon-48.mat-icon {
  height: 48px;
  width: 48px;
}

.posIcon-36 {
  font-size: 36px;
}

.posIcon-36.mat-icon.mat-ligature-font {
  height: 36px;
  width: 36px;
  font-size: 36px;
  margin-left: auto;
  margin-right: auto;
}

input.left {
  text-align: left;
}

svg-icon.logo {
  fill: #3f51b5;
}

mat-keyboard-container {
  width: 100%;
}