/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.posIcon-48 {
    font-size: 48px;
}

.posIcon-48.mat-icon {
    height: 48px;
    width: 48px;
}

.posIcon-36 {
    font-size: 36px;
}

.posIcon-36.mat-icon {
    height: 36px;
    width: 36px;
}
