@use '@angular/material' as mat;

html {
  @include mat.theme((
    color: (
      theme-type: light,
      primary: mat.$blue-palette,
      tertiary: mat.$azure-palette,
    ),
    typography: Roboto,
    density: 0,
  ));
}