@use '~@angular/material' as mat;
@import '../styles';
@import '../app/pos/product-grid/product-grid.component.scss';
@import '../app/login/login.component.scss';

$primary: mat.define-palette(mat.$deep-purple-palette);
$accent: mat.define-palette(mat.$amber-palette, A200, A100, A400);
$theme: mat.define-light-theme($primary, $accent);

@include mat.all-component-themes($theme);
@include material-docs-app-theme($theme);
@include productgrid-theme($theme);
@include login-theme($theme);

svg-icon.logo {
  fill: #673ab7;
}
