@use '@angular/material' as mat;
@import '../styles';
@import '../app/pos/product-grid/product-grid.component.scss';
@import '../app/shared/part-list-relation/part-list-relation.component.scss';
@import '../app/login/login.component.scss';
@import '../app/pos/pos.component.scss';

$primary: mat.define-palette(mat.$purple-palette);
$accent: mat.define-palette(mat.$green-palette, A200, A100, A400);
$theme: mat.define-dark-theme($primary, $accent);

@include mat.all-component-themes($theme);
@include material-docs-app-theme($theme);
@include productgrid-theme($theme);
@include login-theme($theme);
@include part-list-relation-theme($theme);
@include pos-component-theme($theme);

svg-icon.logo {
  fill: #9c27b0;
}
