@import '../styles';
@import '../app/pos/productgrid/productgrid.component.scss';

// Define the dark theme.
$primary: mat-palette($mat-purple);
$accent:  mat-palette($mat-green, A200, A100, A400);

$theme: mat-dark-theme($primary, $accent);
@include angular-material-theme($theme);
@include material-docs-app-theme($theme);
@include productgrid-theme($theme);

svg#synerPOS-Logo {
  fill: #9c27b0;
  width: 200px;
}
