@import '../styles';
@import '../app/pos/product-grid/product-grid.component.scss';
@import '../app/login/login.component.scss';

$primary: mat-palette($mat-purple);
$accent: mat-palette($mat-green, A200, A100, A400);
$theme: mat-dark-theme($primary, $accent);

@include angular-material-theme($theme);
@include material-docs-app-theme($theme);
@include productgrid-theme($theme);
@include login-theme($theme);

svg-icon.logo {
  fill: #9c27b0;
}
