@use '@angular/material' as mat;

@mixin productgrid-theme($theme) {
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);
  $primary: map-get($theme, primary);

  button {
    color: mat.get-color-from-palette($foreground, text);
    background-color: mat.get-color-from-palette($background, card);
  }

  .pos-productgrid {
    .pos-card {
      .pos-card-image {
        background-color: mat.get-color-from-palette($background, selected-button);
      }
      .pos-card-price {
        background-color: mat.get-color-from-palette($primary);
      }
    }
  }
}
